<main class="w-1/2 h-1/4 flex flex-col bg-[#eee] items-center">
    <header>
        <div class="">
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512">
                    <title>ionicons-v5-a</title>
                    <polyline points="244 400 100 256 244 112"
                        style="fill:none;stroke:aliceblue;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                    <line x1="120" y1="256" x2="412" y2="256"
                        style="fill:none;stroke:aliceblue;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                </svg>
            </a>
            <h1>New Customer Profile</h1>
        </div>
    </header>
    <section>    
        <!-- Add New Customer Page -->
        <div id="add-customer" class="">
            <form>
                <label>Name:</label>
                <input type="text" required><br>
            </form>
        </div>
    </section>
</main>
